<!DOCTYPE html>
<html>
  <head>
    <title>purple Macron Bakery - products</title>
    <!-- style sheets -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .center
      {
        text-align: center;
        align-content: center;
      }
      body
      {
        overflow-x: hidden;
      }
    </style>
    <!-- style sheets -->
  </head>
  <body style="background-image: url('/images/background.jpg');">
    
    <%- include('header') %> 

    <br>
    <div class="row">
      <div class="col-3"></div>
      <!-- <img class="col-6 center" id="productsTitle" src="/images/products-logo.png" alt="products"> -->
      <div class="col-3"></div>
    </div>
    <br><br>
    <!-- products substance -->
    <div id="productsSubstance" class="container">
      <!-- line number 1 -->
      <div class="container-fluid">
        <div class="row">
          <!-- product number 1 -->
          <div class="col-4 center">
            <a href="https://www.cheesecake.com/Nutrition.asp#:~:text=Nutrition%20Facts%3A%20Serv.-,Size%3A%201%20slice%20(106g)%2C%20Servings%20Per%20Container%3A,Carb%2032g%20(11%25)%2C%20Dietary" title="Cheesecake nutrition">
              <img src="https://img.haarets.co.il/img/1.2334261/953766979.jpg" alt='Cheesecake ' style= "width:320px;height:250px;" >
            </a>
            <div>
              <p>Cheesecake</p>
              <p>13$</p>
              <p>Sweet cheesecake with honey</p>
            </div>
            <div>
              <button class="button" id="add1">+</button>
              <span id="number1">0</span>
              <button class="button" id="remove1">-</button>
            </div>
          </div>
          <!-- end of roduct number 1 -->
          <!-- product number 2 -->
          <div class="col-4 center">
            <a href="https://heathermangieri.com/is-avocado-toast-actually-good-for-you/#:~:text=Nutrition%20Facts%20(per%20slice)%3A,Iron%2C%206%25%20Daily%20Potassium." title="Avocado sandwich nutrition">
              <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/4/5/1/BW2D10_28652_s4x3.jpg.rend.hgtvcom.616.462.suffix/1431856622401.jpeg" alt='Avocado sandwich'style= "width:320px;height:250px;" >
            </a>
            <div>
              <p>Avocado sandwich </p>
              <p>5$</p>
              <p>What everyone needs, wholemeal bread and crunchy with thin avocado slices and herbs</p>
            </div>
            <div>
              <button class="button" id="add2">+</button>
              <span id="number2">0</span>
              <button class="button" id="remove2">-</button>
            </div>
          </div>
          <!-- end of product number 2 -->
          <!-- product number 3 -->
          <div class="col-4 center">
            <a href="https://heathermangieri.com/is-avocado-toast-actually-good-for-you/#:~:text=Nutrition%20Facts%20(per%20slice)%3A,Iron%2C%206%25%20Daily%20Potassium." title="Chocolate pastry nutrition">
              <img src="https://hostessatheart.com/wp-content/uploads/2016/11/Dark-Chocolate-Puff-Pastry-Hand-Pies-8.jpg" alt='Chocolate pastry 'style= "width:320px;height:250px;" >
            </a>
            <div>
              <p>Chocolate pastry </p>
              <p>3$</p>
              <p>Extra sweet chocolate pastry with touches of coffee</p>
            </div>
            <div>
              <button class="button" id="add3">+</button>
              <span id="number3">0</span>
              <button class="button" id="remove3">-</button>
            </div>
          </div>
          <!-- end of product number 3 -->
        </div>
      </div>
      <!-- end of line number 1 -->

      <br><br>

      <!-- line number 2 -->
      <div class="container-fluid">
        <div class="row">
        <!-- product number 4 -->
          <div class="col-4 center">
            <a href="https://m.tarladalal.com/calories-for-chocolate-cake-1915" title="Chocolate Cake nutrition">
              <img src="https://static.toiimg.com/thumb/53096885.cms?imgsize=1572013&width=800&height=800" alt='Chocolate Cake 'style= "width:320px;height:250px;" >
            </a>
            <div>
              <p>Chocolate Cake</p>
              <p>13$</p>
              <p>Chocolate cake coated in chocolate ganache</p>
            </div>
            <div>
              <button class="button" id="add4">+</button>
              <span id="number4">0</span>
              <button class="button" id="remove4">-</button>
            </div>
          </div>
          <!-- end of product number 4 -->
          <!-- product number 5 -->
          <div class="col-4 center">
            <a href="nutrition-healthy-eating/ways-to-make-a-healthy-grilled-cheese-sandwich/#:~:text=Nutrition%20Information%3A%20One%20sandwich%20contains,sugars%2C%20and%20520%20mg%20sodium." title="Cheese sandwich nutrition">
              <img src="https://storcpdkenticomedia.blob.core.windows.net/media/recipemanagementsystem/media/recipe-media-files/recipes/retail/desktopimages/14996.jpg?ext=.jpg" alt='Cheese sandwich 'style= "width:320px;height:250px;" >
            </a>
            <div>
              <p>Cheese sandwich </p>
              <p>4$</p>
              <p>For a better morning, a rustic bun with cheese</p>
            </div>
            <div>
              <button class="button" id="add5">+</button>
              <span id="number5">0</span>
              <button class="button" id="remove5">-</button>
            </div>
          </div>
          <!-- end of product number 5 -->
          <!-- product number 6 -->
          <div class="col-4 center">
            <a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=2368491" title="Pizza pastry nutrition">
              <img src="https://premeditatedleftovers.com/wp-content/uploads/2013/11/Puff-Pasty-Pizza-Wheels-Recipe-using-Pepperidge-Farms-Puff-Pastry-Sheets.jpg" alt='Pizza pastry' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>Pizza pastry</p>
              <p>6$</p>
              <p>Cheese pastry and pizza sauce</p>
            </div>
            <div>
              <button class="button" id="add6">+</button>
              <span id="number6">0</span>
              <button class="button" id="remove6">-</button>
            </div>
          </div>
          <!-- end of product number 6 -->
        </div>
      </div>
      <!-- end of line number 2 -->
      <br><br>
      <!-- line number 3 -->
      <div class="container-fluid">
        <div class="row">
          <!-- product number 7 -->
          <div class="col-4 center">
            <a href="https://www.eatthismuch.com/food/nutrition/strawberry-cake,2379568/" title="strawberry cake nutrition">
              <img src="https://i.pinimg.com/originals/bf/45/37/bf453789ccb787eab326859216991884.jpg" alt='strawberry cake' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>strawberry cake</p>
              <p>17$</p>
              <p>Strawberry cake with vanilla icing</p>
            </div>
            <div>
              <button class="button" id="add7">+</button>
              <span id="number7">0</span>
              <button class="button" id="remove7">-</button>
            </div>
          </div>
          <!-- end of product number 7 -->
          <!-- product number 8 -->
          <div class="col-4 center">
            <a href="https://m.tarladalal.com/calories-for-egg-sandwich-recipe-boiled-egg-sandwich-41936" title="egg sandwich nutrition">
              <img src="https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Pesto-Egg-Salad-Sandwiches_exps89693_THHC2377559B01_09_3b_RMS.jpg" alt='egg sandwich' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>egg sandwich</p>
              <p>5$</p>
              <p>Boiled egg sandwich, with vegetables</p>
            </div>
            <div>
              <button class="button" id="add8">+</button>
              <span id="number8">0</span>
              <button class="button" id="remove8">-</button>
            </div>
          </div>
          <!-- end of product number 8 -->
          <!-- product number 9 -->
          <div class="col-4 center">
            <a href="https://www.eatthismuch.com/food/nutrition/butter-puff-pastry,94387/" title="Butter pastry nutrition">
              <img src="https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Golden-Crescents_exps8443_THCA2916394C04_02_4b_RMS.jpg" alt='Butter pastry' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>Butter pastry</p>
              <p>3$</p>
              <p>A pastry rich in butter</p>
              </div>
              <div>
              <button class="button" id="add9">+</button>
              <span id="number9">0</span>
              <button class="button" id="remove9">-</button>
            </div>
          </div>
          <!-- end of product number 9 -->
        </div>
      </div>
      <!-- end of line number 3 -->

      <br><br>

      <!-- line number 4 -->
      <div class="container-fluid">
        <div class="row">
          <!-- product number 10 -->
          <div class="col-4 center">
            <a href="https://m.tarladalal.com/calories-for-orange-cake-eggless-orange-slice-cake-2622" title="orange cake nutrition">
              <img src="https://i.pinimg.com/originals/51/99/44/519944f37f3f8f436cda3c2859369c91.jpg" alt='orange cake' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>strawberry cake</p>
              <p>10$</p>
              <p>orange Cake With jelly</p>
            </div>
            <div>
              <button class="button" id="add10">+</button>
              <span id="number10">0</span>
              <button class="button" id="remove10">-</button>
            </div>
          </div>
          <!-- end of product number 10 -->
          <!-- product number 11 -->
          <div class="col-4 center">
            <a href="https://www.thespruceeats.com/healthy-toasted-tomato-sandwich-4029060" title="tomato sandwich nutrition">
              <img src="https://res.cloudinary.com/hksqkdlah/image/upload/44369-sfs-tomato-sandwich-reshoot-19.jpg" alt='tomato sandwich' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>tomato sandwich</p>
              <p>5$</p>
              <p>Tomato sandwich, with all kinds of spices</p>
            </div>
            <div>
              <button class="button" id="add11">+</button>
              <span id="number11">0</span>
              <button class="button" id="remove11">-</button>
            </div>
          </div>
          <!-- end of product number 11 -->
          <!-- product number 12 -->
          <div class="col-4 center">
            <a href="https://www.fitbit.com/foods/Cream+Puff+Pastry+Pfr/9835" title="cream pastry nutrition">
              <img src="https://i.pinimg.com/236x/68/46/01/684601da469c7836597ece2f9fb7f5dc.jpg" alt='cream pastry' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>cream pastry</p>
              <p>3$</p>
              <p>Pastry stuffed with extra sweet cream pudding</p>
            </div>
            <div>
              <button class="button" id="add12">+</button>
              <span id="number12">0</span>
              <button class="button" id="remove12">-</button>
            </div>
          </div>
          <!-- end of product number 12 -->
        </div>
      </div>
      <!-- end of line number 4 -->

      <br><br>

      <!-- line number 5 -->
      <div class="container-fluid">
        <div class="row">
          <!-- product number 13 -->
          <div class="col-4 center">
            <a href="https://www.nutritionix.com/i/nabisco/red-velvet-oreo-cream-cheese-flavored-creme/552cf9ac709bdee67caff9e7" title="Red Velvet Oreo Cake nutrition">
              <img src="https://bakingamoment.com/wp-content/uploads/2020/02/IMG_7555-how-to-make-red-velvet-cheesecake.jpg" alt='Red Velvet Oreo Cake' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>Red Velvet Oreo Cake</p>
              <p>17$</p>
              <p>Red Velvet oreo cake with cream and cookie crumbs</p>
            </div>
            <div>
              <button class="button" id="add13">+</button>
              <span id="number13">0</span>
              <button class="button" id="remove13">-</button>
            </div>
          </div>
          <!-- end of product number 13 -->
          <!-- product number 14 -->
          <div class="col-4 center">
            <a href="https://m.tarladalal.com/calories-for-vegetable-sandwich--mumbai-roadside-recipes--33416" title="Vegetable sandwich nutrition">
              <img src="https://static.toiimg.com/thumb/60057435.cms?width=1200&height=900" alt='Vegetable sandwich' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>Vegetable sandwich</p>
              <p>5$</p>
              <p>A sandwich full of fresh and delicious vegetables</p>
            </div>
            <div>
              <button class="button" id="add14">+</button>
              <span id="number14">0</span>
              <button class="button" id="remove14">-</button>
            </div>
          </div>
          <!-- end of product number 14 -->
          <!-- product number 15 -->
          <div class="col-4 center">
            <a href="https://www.calorieking.com/us/en/foods/f/calories-in-pastry-pie-crusts-puff-pastry-sheets/MUvRYF03RImMoUvm0U_YUA" title="puff pastry nutrition">
              <img src="https://cookingformysoul.com/wp-content/uploads/2020/09/delicious-apple-turnover-min.jpg" alt='puff pastry' style= "width:320px;height:250px;">
            </a>
            <div>
              <p>puff pastry</p>
              <p>3$</p>
              <p>vanilla cream puff pastry</p>
            </div>
            <div>
              <button class="button" id="add15">+</button>
              <span id="number15">0</span>
              <button class="button" id="remove15">-</button>
            </div>
          </div>
          <!-- end of product number 15 -->
        </div>
      </div>
      <!-- end of line number 5 -->
    </div>
    <!-- end of the substance -->
    <br><br><br><br><br>

    <%- include('footer') %> 
    <script src="/assets/productsJS.js"></script>
  </body>
</html>