html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}
/* navbar */
/* #navbar
{
    background-color: rgb(255, 182, 193);
    height: 10%;
    width: 100%;
    display:inline-block;
    position: fixed;
    top: 0;
    left: -5px;
    z-index: 2 ;
    overflow: hidden;
}
#navbarName
{
    color: black;
    font-size: 30px;
    position: relative;
    right: -70%;
    width: 400px;
    top: -43px;
}
#productsSubstance
{
    position: relative;
    top: 15%;
}
#firstButton
{
    position: relative;
    left: 65px;
    top: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    font-size: 30px;
    font-family: "Papyrus", "Copperplate", fantasy;
    background-color: rgb(255, 182, 193);
    color: white;
    border-color: white;
    border-style: solid;
}
#secondButton
{
    position: relative;
    left: 65px;
    top: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    font-size: 30px;
    font-family: "Papyrus", "Copperplate", fantasy;
    background-color: rgb(255, 182, 193);
    color: white;
    border-color: white;
    border-style: solid;
}
#thirdButton
{
    position: relative;
    left: 65px;
    top: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    font-size: 30px;
    font-family: "Papyrus", "Copperplate", fantasy;
    background-color: rgb(255, 182, 193);
    color: white;
    border-color: white;
    border-style: solid;
}
#navbarLogo
{
    position: relative;
    left: -39.75%;
    top: 10px;
} */
/* end of navbar */
/* תחילת עיצוב דף הבית */
/* #homeSubstance
{
    position: relative;
    top: 10%;
}
#YouTube
{
    position: relative;
    top: 70px;
    z-index: 1; 
 }



 /*ontainer 2   */
  /* Center website */
/*.main {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;

  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  /*.row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  /*.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  /*.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  /*.content {
    background-color: rgb(255, 240, 245);
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  /*@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  /*@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }  */
 /*end container 2   */
/* סוף עיצוב דף הבית */
/* תחילת עיצוב דף מוצרים */
.button
{
    border-radius: 4px;
    background-color: black;
    color: white; 
    width: 30px;
}

/* navbar 2 */
#secondNavbar
{
    position: relative;
    top: 10%;
}
.sidenavProducts {
    height: 335px;
    width: -50px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
    background-color: rgb(255, 182, 193);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenavProducts a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3b003b;
    display: block;
    transition: 0.3s;
  }
  
  .sidenavProducts a:hover {
    color: #f1f1f1;
  }
  
  .sidenavProducts .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #mainProducts {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenavProducts {padding-top: 15px;}
    .sidenavProducts a {font-size: 18px;}
  }
  #sum
  {
      visibility: hidden;
  }
  #productsNum
  {
      visibility: hidden;
  }
  #priceHowMuch
  {
      visibility: hidden;
  }
  #productsHowMuch
  {
      visibility: hidden;
  }
/* end navbar 2 */
/* avatar */
/* .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative; top: -60px; left: 43%; width: 50px; height: 50px;
  } */
/* end avatar */
/* סוף עיצוב דף מוצרים */
/* תחילת עיצוב דף אודות */

/* סוף עיצוב דף אודות */
/* תחילת עיצוב דף אירועים */
#eventsSubstance
{
    position: relative;
    top: 15%;
}
/* סוף עיצוב דף אירועים */